<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4><i><center> Shuttle Presents </center></i></h4>
    <h1><center> MyWeatherApi </center></h1>
     <p><center> <><><><><><><><><><><><><><><><><><><><><><><><><><> </center></p>
     <p><center> <><><><><><><><><><><><><><><><><><><><><><><><><><> </center></p>
    <p><center> <><><><><><><><><><><><><><><><><><><><><><><><><><> </center></p>
    <h4><center><b> Copy and Paste the Below URL and change the Station No. and Date to your liking. </b></center></h4>
    <h5><center> URL Format: http://127.0.0.1:5000/myweatherapi/v1/enter_station_no_here/enter_date_here </center></h5>
    <h5><center>URL Example: http://127.0.0.1:5000/myweatherapi/v1/10/19881025 </center></h5>
    <h4><center><i> Date Format: YYYY/MM/DD </i></center></h4>
        <h5><center><i>(Some stations are missing due to the lack of data on particular regions, but any available stations you would want to search in are listed below)</i></center></h5>
    <br>
    <br>
    <br>
    <p><center> {{data | safe}} </center></p>
</body>
</html>